<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">SNS人柄チャート</a>
    </div>
    <ul class="nav navbar-nav">
      <% if user_signed_in? %>
        <li><%= link_to '登録情報の変更', edit_user_registration_path %></li>
    <% end %>
    </ul>
  </div>
</nav>
